
* {
  font-family: Helvetica, Arial, sans-seriff; 
}

body {
  padding: 60px;
}

input {
  color:cornflowerblue;
  font-size: 1.2 rem;
  width: 100%;
  padding: 5px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin: 0px 6px 6px 0px;
  
}

.card p {
  padding : 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}